.posts-container {
  height: 100%;
  background: white;
  position: relative;
  .top-bar {
    background: white;
    overflow: hidden;
    padding: 5px 20px;
    .blogs-title {
      height: 28px;
      font-size: 18px;
      line-height: 28px;
    }
  }
  .post-list-container {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: auto;
  }
  .posts-list {
    .post-item {
      padding: 10px 30px;
      .post-item-title {
        font-size: 16px;
        padding: 5px 0;
      }
    }
  }
}
